body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

nav h1 {
  color: #2460a7;
  margin: 0;
  font-size: 2rem;
}

nav > div {
  display: flex;
  gap: 20px;
}

nav p {
  margin: 0;
  font-size: 1rem;
}

nav button {
  background: #e52d27;
  color: #fff;
  border: none;
  padding: 12px 28px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.order {
  padding: 32px 0 0 0;
  width: 100%;
}

.order > h2 {
  margin-left: 28px;
}

.grid-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  padding: 24px;
}

.grid-top > div {
  background: red;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
}

.grid-top img {
  width: 120px;
  margin-bottom: 16px;
}

.grid-top h3 {
  font-size: 1.1rem;
  margin-block: 8px;
}

.grid-top p {
  font-size: 0.95rem;
  margin-bottom: 13px;
  text-align: center;
}

.grid-top button {
  background: #fff;
  color: red;
  border: none;
  padding: 8px 22px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.explore {
  padding: 24px;
}

.explore > h2 {
  margin-bottom: 18px;
  /* font-size: 1.4rem; */
}

.grid-mid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.grid-mid > div {
  background: #fff;
  color: #222;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 18px 8px 8px 8px;
}

.grid-mid img {
  width: 40px;
  margin-bottom: 10px;
}

.grid-mid h3 {
  margin: 0 0 5px 0;
  font-size: 1rem;
}

.grid-mid p {
  font-size: 0.89rem;
  margin: 4px 0 12px 0;
}

.grid-mid div:last-child {
  color: #e52d27;
  font-weight: 600;
  margin-top: 4px;
  cursor: pointer;
}

footer {
  margin-top: 34px;
  background: #f9f9f9;
  padding: 24px 0;
}

.bottom-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  padding: 35px 0;
}

.bottom-section img:first-child {
  width: 230px;
  align-self: flex-start;
}

.bottom-section > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.bottom-section h1 {
  font-size: 2rem;
  margin: 0;
}

.bottom-section p {
  font-size: 1.2rem;
}

.bottom-section img:not(:first-child) {
  width: 180px;
  margin-right: 8px;
  margin-top: 0;
}
